<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
<!-- 	LIVRAISON MY MAIL
	{{ .User }}
	{{ .Selas }}
	{{ .Params }} -->
	{{ if .User.Firstname  }}
		{{ if (eq .User.Sex "Masculin") }} 
			Monsieur 
		{{ else }}
			Madame 
		{{ end }}
		{{ .User.Firstname }} {{ .User.Lastname }}
		{{ if .Selas }}
			<p>Vous pouvez retirer votre colis à l'adresse suivante :</p>
			{{ .Selas.Name }}<br>
			-------------------------------------------------------<br>
			{{ .Selas.Street1 }}<br>
			{{ if .Selas.Street2 }}
			{{ .Selas.Street2 }}<br>
			{{ end }}
			{{ .Selas.Cp }} {{ .Selas.City }}<br>
			{{ if .Selas.Tel }}
				Tél : {{ .Selas.Tel }}
			{{ end }}
			<!-- <p>Nous vous enverrons un mail très rapidement à : {{ .Params.Email }}.</p> -->
		{{ else }}
			<p>Il semblerait que nous devions faire une recherche manuelle.</p>
			<p>Nous vous enverrons un mail très rapidement à {{ .Params.Email }}.</p>
		{{ end }}
	{{ else }}
		Mme/Mr {{ .Params.Firstname }} {{ .Params.Lastname }}   
		<p>Nous devons rechercher manuellement votre lieu de livraison. Il doit s'agir d'une erreur de notre part.</p>
		<p>Nous vous prions de nous excuser, nous vous enverrons un mail très rapidement à {{ .Params.Email }}.</p>
	{{ end }}
	<p>N'hésitez pas à demander de l'aide en cliquant sur le lien suivant en cas de besoin. <br>
		Soyez patient ou laissez-nous un message en précisant le numéro de référence et nous vous répondrons aussi rapidement que possible.
	</p>
	<a href="https://tawk.to/chat/5fbe68bc920fc91564ca918f/default" target="_blank">J'ai besoin d'aide</a>
	<p>Ref : {{ .Ref }} </p>
</body>
</html>