<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<!-- HELLO MY MAIL -->
	<!-- {{ .user }}
	{{ .selas }}
	{{ .params }} -->
	{{ if .user.Firstname  }}
		{{ if (eq .user.Sex "Masculin") }} 
			Monsieur 
		{{ else }}
			Madame 
		{{ end }}
		{{ .user.Firstname }} {{ .user.Lastname }}
		{{ if .selas }}
			<p>Vous pouvez retirer votre colis à l'adresse suivante :</p>
			{{ .selas.Name }}<br>
			-------------------------------------------------------<br>
			{{ .selas.Street1 }}<br>
			{{ if .selas.Street2 }}
			{{ .selas.Street2 }}<br>
			{{ end }}
			{{ .selas.Cp }} {{ .selas.City }}<br>
			{{ if .selas.Tel }}
				Tél : {{ .selas.Tel }}
			{{ end }}
			<p>Nous vous enverrons un mail très rapidement à : {{ .params.Email }}.</p>
		{{ else }}
			<p>Il semblerait que nous devions faire une recherche manuelle.</p>
			<p>Nous vous enverrons un mail très rapidement à {{ .params.Email }}.</p>
		{{ end }}
	{{ else }}
		Mme/Mr {{ .params.Firstname }} {{ .params.Lastname }}   
		<p>Nous devons rechercher manuellement votre lieu de livraison. Il doit s'agir d'une erreur de notre part.</p>
		<p>Nous vous prions de nous excuser, nous vous enverrons un mail très rapidement à {{ .params.Email }}.</p>
	{{ end }}
</body>
</html>